[submodule "pages/themes/terminal"]
	path = pages/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "A-RYTH-MATIK/BitGarden/src/libmodulove"]
	path = A-RYTH-MATIK/BitGarden/src/libmodulove
	url = https://github.com/awonak/libmodulove.git
[submodule "A-RYTH-MATIK/Uncertainty/src/libmodulove"]
	path = A-RYTH-MATIK/Uncertainty/src/libmodulove
	url = https://github.com/awonak/libmodulove.git
[submodule "A-RYTH-MATIK/TimeBandit/src/libmodulove"]
	path = A-RYTH-MATIK/TimeBandit/src/libmodulove
	url = https://github.com/awonak/libmodulove.git
[submodule "SyncLFO/Baby4/src/libmodulove"]
	path = SyncLFO/Baby4/src/libmodulove
	url = https://github.com/awonak/libmodulove.git
