[submodule "pages/themes/terminal"]
	path = pages/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "A-RYTH-MATIK/BitGarden/libmodulove"]
	path = A-RYTH-MATIK/BitGarden/libmodulove
	url = ../libmodulove
[submodule "A-RYTH-MATIK/Uncertainty/libmodulove"]
	path = A-RYTH-MATIK/Uncertainty/libmodulove
	url = ../libmodulove
